.map {
  width: 70vw;
  height: max(60vh, 600px);
  margin: auto;
}

@media screen and (max-width: 900px) {
  .map {
    width: 100vw;
    margin: auto;
  }
}

.map > .leaflet-container {
  height: 100%;
}
